<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node 수업</title>
</head>

<body>
    {% include "include/header.html"%}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>첫 페이지</h1>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">양정은 홈페이지에 오신것을 환영합니다.</h5>
                            <p>node로 게시판 만들어보기</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->

    {% include "include/footer.html"%}
</body>

</html>