{% include "include/header.html"%}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>게시판 페이지</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <form method="get" action="/board/" class = "search-form d-flex align-item-center">
                                <div class="input-group">
                                    <input type = "text" name="searchKey" value="{{searchKey}}" placeholder="이름/제목/내용 검색"/>
                                    <button class="btn btn-primary" type="submit">검색</button> 
                                </div>
                            </form>
                            <a href="/board/register?page={{page}}" type="button" class="btn btn-primary">등록</a>
                        </div>
                    </div>

                    <div class="card-body">
                        <!-- Table with hoverable rows -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" class="col-6">제목</th>
                                    <th scope="col">작성자</th>
                                    <th scope="col" class="col-1">조회수</th>
                                    <th scope="col" class="col-2">등록일</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if list != null %}
                                    {% for item in list %}
                                <tr>
                                    <th scope="row">{{item.id}}</th>
                                    <td><a href="/board/view?id={{item.id}}&page={{page}}&searchKey={{searchKey}}">{{item.title}}</a></td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.viewcount}}</td>
                                    <td>{{common.dateFormat(item.regdate)}}</td>
                                </tr>
                                    {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="5">등록된 데이터가 없습니다.</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->
                    </div>
                    <div class="card-footer">
                        {{common.pageNavigation(page, totalRecord, '/board', '&searchKey=' + searchKey) | safe}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% include "include/footer.html"%}